.main_continer{
    width: 100%;
    height: 100vh;
    //display: flex;

    .side_Menu_off{
        width: 0;
        height: 0;
    }
    .side_Menu{
        width: 60%;
        height: 100vh;
        background-color: aqua;
        position: absolute;
        z-index: 1;
       
    }

    .top_bar{
        width: 100%;
        height: 150px;
        border-radius: 0 0 20px 20px ;
        margin: 0 0 10px 0;
        background-color: #d84e55;
    }

.profile_continer{
    display: flex;
    border: 1px solid;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    @media (max-width: 480px) {  
        /* Styles for tablets & large phones */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5px;
      }
   
    .profile{
        width: 100%;
        height: 250px;
       // border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
          label{
            position: absolute;
            bottom: 0px;
            color: white;
            font-size: 20px;
            background-color: black;
            width: 100%;
          }
        .profile_iMG{
            width: 100%;
            height: 100%;
            background-color: brown;
           // border-radius: 50%;
            position: relative;

            .profile_pic{
                width: 100%;
                height: 100%;
                overflow: hidden;
               // border-radius: 50%;
            }
           
        }
    }
}
}